<div id="<%= dom_id information %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= information.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Main:</strong>
    <%= information.main %>
  </div>
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= information.user_id %>
  </div>
   <div>
    <strong class="block font-medium mb-1">Key:</strong>
    <%= information.key %>
  </div>
</div>
